{% extends 'base.html.twig' %}
{% set number = -600 %}

{% set items = ['a', 'b', 'c', 'd', 'e', 'f', 'g'] %}


{% block title %}Hello StaticTwigController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a
                            href="{{ '/var/www/learnsymfony/src/Controller/StativTwigController.php'|file_link(0) }}">src/Controller/StativTwigController.php</a></code>
            </li>
            <li>Your template at <code><a
                            href="{{ '/var/www/learnsymfony/templates/stativ_twig/index.html.twig'|file_link(0) }}">templates/stativ_twig/index.html.twig</a></code>
            </li>
        </ul>

        <hr>
    </div>

    <div class="container">
        <h1>Filters</h1>

        <ul class="list-group">
            <li class="list-group-item">
                <p><kbd> abs </kbd></p>
                {{ number|abs }}
            </li>
            <li class="list-group-item">
                <p><kbd> batch </kbd></p>
                <table class="table">
                    {% for row in items|batch(3, 'No item') %}
                        <tr>
                            {% for column in row %}
                                <td>{{ column }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </li>

            <li class="list-group-item">
                <p><kbd> capitalize </kbd></p>
                {{ 'my first car'|capitalize }}
            </li>

            <li class="list-group-item">
                <p><kbd> column </kbd></p>
                {% set items = [{ 'fruit' : 'apple'}, {'fruit' : 'orange' }] %}
                {% set fruits = items|column('fruit') %}
                items = [{ 'fruit' : 'apple'}, {'fruit' : 'orange' }] <br>
                fruits = items|column('fruit')
                <hr>
                <div class="table">
                    <div class="tr">
                        {% for fruit in fruits %}
                            <div class="td">
                                {{ fruit }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <p><kbd> country_name </kbd></p>
                {{ 'US'|country_name('fr') }}
                <br>
                {{ 'US'|country_name('uk') }}
            </li>

            <li class="list-group-item">
                <p><kbd> currency_name </kbd></p>
                {{ 'EUR'|currency_name('en') }}
                <br>
                {{ 'PLN'|currency_name('ru') }}
            </li>

            <li class="list-group-item">
                <p><kbd> currency_symbol </kbd></p>
                {{ 'PLN'|currency_symbol('en') }}
                <br>
                {{ 'JPY'|currency_symbol('ru') }}
            </li>

            <li class="list-group-item">
                <p><kbd> date_modify + 1 day </kbd></p>
                {% set published_at = "2019-12-19" %}
                {{ published_at|date_modify("+1 day")|date("m/d/Y") }}
            </li>

            <li class="list-group-item">
                <p><kbd>default </kbd></p>
                {{ test_none_var|default('var is not defined') }}
            </li>

            <li class="list-group-item">
                <p><kbd>escape</kbd></p>
                {% set user = {username: "Vasya <strong>Pupkin</strong>"} %}
                {{ user.username|escape }}
            </li>

            <li class="list-group-item">
                <p><kbd>filter</kbd></p>
                {% set sizes = [34,35,36,37,38,39,42,14] %}
                {{ sizes | filter(v => v > 37) | join(', ') }}
            </li>

            <li class="list-group-item">
                <p><kbd></kbd></p>
            </li>

        </ul>

    </div>
{% endblock %}
