{# news/list.html.twig #}
{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('news') }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>{% trans %}titles.news{% endtrans %}</h1>

        <div class="row news-items-row">
            {% for new in news %}
                <div class="col-sm-4 news-item">
                    <h4 class="h5 news-title">
                        <a class="text-dark" href="{{ path('newView', {id: new.id}) }}">{{ new.title }}</a>
                    </h4>
                    <img src="{{ asset('/img/' ~ new.image) }}" class="img-thumbnail" alt="{{ new.title }}">
                    <p class="text-info"> {{ new.createdAt|date("F jS \\a\\t g:ia") }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('news') }}
{% endblock %}