{# news/list.html.twig #}
{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('news') }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>{% trans %}titles.news{% endtrans %}</h1>

        {% for new in news %}
            {{ new.title }}
            {{ new.text }}
            {{ new.createdAt|date("F jS \\a\\t g:ia") }}

            {{ new.image }}
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('news') }}
{% endblock %}